*{margin:0;padding:0;}
body{font-size:13px;color:#4b4b4b;font-family: Verdana,'Microsoft YaHei',Tahoma,'Simsun',sans-serif;cursor: default;background: #F4F3F3;}
ul,ol{list-style:none;}
a{color: inherit;text-decoration:none;}
img{border: none;}
input{font-family: inherit;}
.wraper{width: 600px;margin: auto;}
.header{width: 600px;margin: 0 auto;}
@media screen and (max-width: 3000px) and (min-width: 1200px){
	.wraper{width: 600px;}
}
@media screen and (max-width: 1200px) and (min-width: 600px){
	.wraper{width: 600px;}
}
@media screen and (max-width: 600px){
	.wraper{width: 100%;}
	.header{width: 100%;}
}
.main{min-height:400px;}
.m_imgs_btm{height: 135px;position: absolute;width: 76%;bottom: 5px;left: 12%;}
#addDV{width: 80%;min-height:300px;}
#addDV img{width: 100%;}
.addDVB{display: inline-block;position: absolute;width: 60px;height: 28px;left:5px;top:5px;}
.addDVS{display: inline-block;position: absolute;width: 40px;height: 28px;right:5px;top:5px;}
.sx{display: inline-block;width: 36px;height: 40px;position: absolute;right: 0;top: 0;}
.share{display: inline-block;width: 36px;height: 40px;position: absolute;right: 0;top: 0;}
.share_cp{display: inline-block;width: 36px;height: 40px;position: absolute;right: 0;top: 0;}
.messagebox{display: inline-block;width: 36px;height: 40px;position: absolute;right: 36px;top: 0;}
.search{display: inline-block;width: 36px;height: 40px;position: absolute;left: 40px;top: 0;}
.sxDv{width: 35%;position: fixed;z-index: 10;right:15px;display:none;}
.sxDv img{width: 100%;}

.shares{position: absolute;bottom:-140px;display:none;}
.shares img{width: 100%;}
.kt_t{display: inline-block;width: 100%;height: 50px;position: absolute;top:0;}
.kt_b{display: inline-block;width: 100%;height: 50px;position: absolute;bottom:0;}

.friends{position: fixed;top:0;z-index:11;display:none;left:100%;bottom:0;width: 100%;}
.friends img{width: 100%;}
.slide_link_cp{display: inline-block;background: #000;width: 35px;height: 40px;position: absolute;left: 0;top: 0;opacity: 0;}
